@font-face {
font-family: 'Publica Play';
font-style: normal;
font-weight: normal;
src: url(fonts1.otf);
}

* {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 1900px;
}



/* Header */
.headerBg {
  width: 100%;
}

.head {
  position: absolute;
  margin: 0 7%;
  padding-top: 2em;
  color: #f1f5f4;
}

.head a {
  color: #f1f5f4;
}

.logo {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.right {
  float: right;
  display: inline-block;
}

.nav, .circle {
  display: inline-block;
}

nav div {
  display: inline-block;
  padding: .5em .5em;
}

.circleDiv {
  margin-left: 3em;
  padding: .5em 2em;
  display: inline-block;
  border-radius: 50px;
  border: 2px solid #f1f5f4;
}

.main {
  margin-top: 3%;
  text-align: center;
}

.title1 {
  display: inline-block;
  width: 40%;
  text-align: center;
  float: left;
  margin: 10% 0;
}

.title1 h1 {
  font-family: 'Publica Play';
  margin: 0 0 .5em 0;
}

.title1 p {
  margin: 2em 0 0 0;
}

.mainPic {
  display: inline-block;
  margin-top: 2em;
  width: 60%;
  float: right;
}

.mainPic img {
  width: 100%;
}



/* Services */
.ourservices {
  font-family: 'Publica Play';
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.ourservices h1, p {
  margin: 0 10%;
}

.ourservices h1 {
  margin-bottom: .5em;
}

.servicesUl {
  padding: 0;
  width: 100%;
}

.servicesUl li {
  font-family: 'Publica Play';
  display: inline-block;
  text-align: center;
  font-weight: 500;
  width: 20%;
  margin: 2em 2em 0;
}

.servicesUl li img {
  width: 80%;
}

/* How does it works */
.howdoes {
  background: #e75b4c;
}

.hd {
  color: #f1f5f4;
  margin: 0 10%;
}

.hdLeft {
  display: inline-block;
  width: 50%;
}

.hdLeft p {
  margin: 0;
  padding: 0 10% 2em;
  text-align: center;
}

.hdLeft h1 {
  margin: 2em 0 .5em 0;
  text-align: center;
  padding: 0 10%;
  font-family: 'Publica Play';
}

.google {
  width: 30%;
  padding-bottom: 2em;
}

.apple {
  width: 30%;
  padding-bottom: 2em;
  margin-left: 2.5em;
  margin-top: 1em;
}

.hdUl {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hdUl li {
  background: url("sc/scooterIcon.png") no-repeat left center;
  background-size: 10%;
  padding: 5% 10%;
}

.hdUl li img, .hdUl li div {
  display: inline-block;
}

.hdImg {
  float: right;
  height: 100%;
  width: 50%;
  padding: 5% 0;
}

/* Benefits */
.benefits {
  padding: 0;
  width: 100%;
}

.benefits li {
  display: inline-block;
  text-align: center;
  /*font-weight: 500;*/
  width: 20%;
  margin: 2em 2em 0;
}

.benefits li h1 {
  font-size: 1.5em;
}

.benefits li img {
  width: 80%;
  height: 100%;
}

/* Register */
.register {
  margin: 10% 10% 0;
  text-align: center;
  color: #333333;
}

.registerLeft {
  width: 50%;
  display: inline-block;
  height: 100%;
}

.registerLeft h1 {
  padding: 0 10%;
  font-family: 'Publica Play';
}

.regg {
  border-radius: 50px;
  border: 2px solid #333333;
  padding: .5em 4em;
}

.reggg {
  margin-top: 15%;
}

.registerimg {
  display: inline-block;
  float: right;
  width: 50%;
  height: 100%;
}

.registerimg img {
  width: 80%;
}

/* Footer */
.footImg {
  width: 100%;
}

footer {
  margin-top: 10%;
}

.foot {
  position: absolute;
  margin: 10% 10% 0;
  padding-left: 1em;
  color: #f1f5f4;
  width: 80%;
}

.footUl {
  padding: 0 2em;
  width: 100%;
}

.footUlLi {
  display: inline-block;
  vertical-align: top;
  font-weight: 500;
  margin: 0 2em;
}

.footUlLi a {
  text-decoration: none;
  color: #f1f5f4;
}



.ful {
  padding: 0;
  list-style: none;
}

.ful li {
  padding-top: .5em;
}

.subscribe, .foota, .iconF {
  padding-top: .5em;
}

.foota {
  padding: .1em;
  margin-top: 2em;
  border: solid #f1f5f4;
  border-radius: 50px;
  background: #f1f5f4;
  width: 85%;
}

#subText {
  height: 100%;
  width: 50%;
  padding-left: 1em;
  border: .1em solid #f1f5f4;
  border-radius: 50px;
  background: #f1f5f4;
}

#subText:focus {
  outline: none;
}

#subButton {
  margin: 0 0 0 .5em;
  padding: .5em 1em;
  border: #ed1c24;
  border-radius: 50px;
  background: #ed1c24;
  color: #f1f5f4;
}

.fulBold, .subscribe {
  font-size: 1.3em;
  font-weight: 700;
}

.iconFooter {
  padding: 0;
}

.iconFooter li {
  display: inline-block;
  padding: 1em .5em;
}

.iconFooter img {
  width: 1.5em;
}

hr {
  margin: 2em 10% 0;
  padding: 0;
  border: .5px solid #ed1c24;
  background: #ed1c24;
}

#pFoot {
  padding: 1.5em;
  text-align: center;
}
